.moving-text-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.moving-text {
  position: relative;
  white-space: nowrap;
  animation: move-right 20s linear infinite;
}

@keyframes move-right {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }